.head{
  background-color: #343a40;
  padding: 10px 40px 10px 40px;
  display: flex;
  justify-content: space-between;
}
.sub-head{
  display: flex;
}
.phone{
  font-family: Arial;
  font-weight: 700;
  color: white;
  margin-left: 45px;
  font-size: 14px;
}
.info{
  font-family: Arial;
  color: #32dbc6;
  cursor: pointer;
}
.info:hover{
  color: #1da493;
  transition-duration: 0.2s;
}
.social{
  display: flex;
  margin-right: 50px;
}
.info i{
  margin-right: 22px;
}
.sub{
  background-color: white;
  padding: 10px 0px;
  position: sticky;
}
.white{
  background-color: red;
  padding: 20px 30px 20px 50px;
  position:relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.create{
  font-family: Arial;
  font-size: 30px;
  /* background-color: blue; */
}
.create span{
  color: #32dbc6;
  font-family: Arial;
  font-size: 28px;
}
.option{
  display: flex;
  margin-right: 20px;
  justify-content: space-between;
  /* background-color: red; */
  width: 530px;
  padding: 20px;
}
.home{
  cursor: pointer;
  color: #32dbc6;
  font-family: Arial;
  font-size: 14px;
  margin-right: 10px;
}
.work{
  cursor: pointer;
  font-family: Arial;
  font-size: 14px;
  margin-right: 20px;
}
.work:hover{
  color: #32dbc6;
  transition-duration: 0.3s;
}
.all{
  /* text-align: center; */
}
.about{
  cursor: pointer;
  font-family: Arial;
  font-size: 14px;
  margin-right: 20px;
}
.about:hover{
  color: #32dbc6;
  transition-duration: 0.3s;
}
.special{
  display: none;
  /* background-color: red; */
}
.special div{
  cursor: pointer;
  font-family: Arial;
  font-size: medium;
  padding: 10px 90px 10px 15px;
  width: 150px;
}
.special div:hover{
  background-color: grey;
  width: inherit;
}
.div1{
  border-top: solid #32dbc6 2px;
}
.all:hover .special{
  display: block;
}
