.lap{
  background-image: url(../img/hero_1.jpg.webp);
  height: 100vh;
  background-size: 1360px;
  position: relative;
  z-index: 0;
}
.laptop{
  background-color: #00000033;
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  /* text-align: center; */
}
.build{
  /* background-color: red; */
  text-align: center;
}
.love{
  font-size: 50px;
  font-family: Arial;
  color: white;
  margin-bottom: 20px;
}
.free{
  font-size: 20px;
  color: white;
  font-family: Arial;
  margin-bottom: 40px;
}
.free a{
  cursor: pointer;
  color: #32dbc6;
}
.video span{
  font-size: 10px;
  text-transform: uppercase;
  font-family: Arial;
  border-radius: 50px;
  color: #212529;
  text-align: center;
  background-color: #32dbc6;
  padding: 15px 20px;
  width: 50px;
  letter-spacing: 1px;
  cursor: pointer;
}
.video span:hover{
  transition-duration: 0.2s;
  background-color: #2cc4b0;
  color: white;
  border-color: #21b9a6;
}

.innovation{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  /* padding: 10px; */
  margin-bottom: 150px;
}
.numbers{
  position: relative;
  /* background-color: red; */
  padding: 20px;
  width: fit-content;
  margin-bottom: 20px;
}
.number{
  position: absolute;
  top: -15px;
  left: -20px;
  font-family: Arial;
  font-weight: 700;
  font-size: 100px;
  z-index: -1;
  color: rgba(211, 211, 211, 0.4);
}
.innovate{
  color: #21b9a6;
  font-family: Arial;
  font-size: 32px;
  margin-bottom: 14px;
}
.lorem{
  margin-bottom: 20px;
  font-family: Arial;
  font-size: 16px;
  color: #4d4d4d;
  max-width: 300px;
  line-height: 30px;
}
.checked i{
  color: #21b9a6;
  font-size: 16px;
  margin-right: 5px;
}
.checked{
  margin-bottom: 15px;
  color: #4d4d4d;
  font-family: Arial;
}

.works{
  margin-bottom: 30px;
  /* padding: 10px; */
}
.our{
  width: 100%;
  text-align: center;
  font-size: 48px;
  font-family: Arial;
  margin-bottom: 20px;
}
.car{
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lores{
  font-family: Arial;
  font-size: 16px;
  color: #4d4d4d;
  line-height: 30px;
  width: 600px;
}
.over{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}
.pic{
  position: relative;
  overflow: hidden;
  margin: auto;
}
.pic img{
  margin-bottom: 15px;
  height: 370px;
  width: 370px;
  cursor: pointer;
}
.tree{
  background-color: rgba(0, 0, 0, 0.7);
  width: 370px;
  height: 370px;
  text-align: center;
  cursor: pointer;
  position: absolute;
}
.trees{
  position: absolute;
  top: 155px;
  width: 370px;
  text-align: center;
}
.cat{
  font-size: 1.5rem;
  color: white;
  font-family: Arial;
}
.web{
  font-family: Arial;
  letter-spacing: 3px;
  color: #999999;
  text-transform: uppercase;
  font-size: 14px;
}
.pic:hover .tree{
  top: 370px;
  transition-duration: 0.4s;
  translate: 0px -370px;
}

.black{
  padding: 100px;
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
}
.paint{
  background-color: black;
  padding: 30px;
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  justify-content: center;
}
.hand img{
  height: 400px;
  width: 400px;
}
.away{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.wrote{
  margin-bottom: 50px;
  margin-right: 30px;
}
.strategy{
  margin-bottom: 15px;
  /* width: 200px; */
  color: white;
  font-family: Arial;
  font-size: 18px;
}
.strategy i{
  margin-right: 8px;
}
.word{
  line-height: 25px;
  max-width: 230px;
  font-family: Arial;
  font-size: 15px;
  color: #737373;
  margin-bottom: 10px;
}
.more{
  font-size: 16px;
  color: white;
  font-family: Arial;
  text-decoration: underline;
  cursor: pointer;
  max-width: 100px;
}
.more:hover{
  text-decoration: none;
}

.testimonials{
  margin-bottom: 150px;
}
.testimonial{
  width: 100%;
  text-align: center;
}
.our{
  font-family: Arial;
  font-size: 50px;
  margin-bottom: 20px;
}
.texts{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.texts i{
  font-family: Arial;
  font-size: 24px;
  width: 750px;
  color: #4d4d4d;
  line-height: 43px;
  font-weight: 100;
}
.test{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.text img{
  margin-right: 20px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.text{
  color: #4d4d4d;
  font-family: Arial;
  display: flex;
  align-items: center;
}
.testing{
  display: flex;
  justify-content: center;
}
.tests{
  display: flex;
}
.testers{
  background-color: #32dbc6;
  padding: 5px;
  border-radius: 50%;
  margin-right: 5px;
}
.tester{
  background-color: #Dee2e6;
  padding: 5px;
  border-radius: 50%;
  margin-right: 7px;
  cursor: pointer;
}

.service{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 0px;
}
.serve{
  max-width: 300px;
  margin-right: 50px;
  display: flex;
  margin-bottom: 50px;
}
.top{
  margin-right: 10px;
}
.top i{
  font-size: 40px;
  color: #21b9a6;
}
.can{
  padding: 8px;
}
.sun{
  font-size: 1.3rem;
  font-family: Arial;
  color: #4D4D4D;
  margin-bottom: 8px;
}
.frame{
  color: #737373;
  font-family: Arial;
  font-size: 0.9rem;
  line-height: 25px;
  margin-bottom: 20px;
}
.learn{
  color: #32dbc6;
  font-family: Arial;
  cursor: pointer;
}
.learn:hover{
  color: #1da493;
  transition-duration: 0.3s;
}

.line{
  height: 1px;
  width: 100%;
  background-color: darkgray;
}

.about{
  max-width: 100%;
  margin-bottom: 200px;
}
.know{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.left{
  max-width: 300px;
  font-family: Arial;
  font-size: 3.1rem;
  margin-bottom: 1.25rem;
}
.wish{
  margin-right: 20px;
  padding: 10px;
}
.sit{
  color: #737373;
  font-family: Arial;
  max-width: 520px;
  font-weight: 300;
  line-height: 33px;
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}
.bat{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.run{
  font-size: 3rem;
  color: #4D4D4D;
  margin-bottom: 0.5rem;
}
.specials{
  color: #4D4D4D;
  font-size: 1.2rem;
  font-family: Arial;
  margin-bottom: 0.6rem;
}
.level{
  color: #4D4D4D;
  font-family: Arial;
  max-width: 200px;
  font-size: 1rem;
  line-height: 29px;
  margin-bottom: 1.25rem;
}
.alive img{
  height: 450px;
  width: 450px;
}

.teams{
  margin-bottom: 30px;
}
.team{
  width: 100%;
  place-content: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.us{
  margin-bottom: 20px;
  margin-right: 50px;
}
.me{
  text-align: center;
}
.me img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-bottom: 60px;
}
.name{
  margin-bottom: 0.5rem;
  font-family: Arial;
  font-size: 1.3rem;
}
.co{
  font-family: Arial;
  color: #999999;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-bottom: 1.25rem;
}
.bliss{
  line-height: 27px;
  font-family: Arial;
  color: #4D4D4D;
  text-align: center;
  margin-bottom: 1.25rem;
  max-width: 300px;
}
.media{
  display: flex;
  justify-content: center;
}
.media i,
.media div{
  color: white;
  background-color: #4D4D4D;
  padding: 7px;
  border-radius: 50%;
  margin-right: 0.8rem;
}

.blogs{
  padding: 20px;
  margin-bottom: 100px;
}
.blog{
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.down{
  margin-right: 20px;
}
.need{
  margin-bottom: 1.25rem;
}
.need img{
  height: 350px;
  width: 350px;
}
.learns{
  color: #32dbc6;
  font-family: Arial;
  cursor: pointer;
  font-size: 1.4rem;
  margin-bottom: 1.25rem;
  max-width: 300px;
}
.learns:hover{
  color: #1da493;
  transition-duration: 0.3s;
}
.ham{
  display: flex;
  color: #B3B3B3;
  font-family: Arial;
  margin-bottom: 1.5rem;
}
.ham i{
  margin: 0px 6px;
}
.move{
  font-family: Arial;
  color: #32dbc6;
  cursor: pointer;
}
.move:hover{
  color: #1da493;
  transition-duration: 0.3s;
}
.day{
  font-family: Arial;
  color: #4D4D4D;
  line-height: 25px;
  font-size: 1rem;
  font-weight: 400;
  word-spacing: 0.02rem;
  margin-bottom: 1rem;
  text-align: left;
  max-width: 300px;
}
.continue{
  font-family: Arial;
  color: #32dbc6;
  cursor: pointer;
}
.continue:hover{
  color: #1da493;
  transition-duration: 0.3s;
}

.forms{
  background-color: #f8f9fa;
  padding: 70px 120px;
}
.form{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.lot{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.contact{
  margin-bottom: 3rem;
  font-family: Arial;
  font-size: 1.5rem;
}
.label{
  font-family: Arial;
  margin-bottom: 1rem;
}
.names{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1.25rem;
}
.men{
  margin-right: 4rem;
  background-color: white;
  padding: 2rem;
  margin-bottom: 20px;
}
.man{
  margin-right: 1.25rem;
  margin-bottom: 1.25rem;
}
.man input{
  color: #495057;
  border-radius: 25px;
  padding: 1rem;
  font-size: 1.1rem;
  max-width: 15rem;
  height: 3rem;
  border-style: solid;
  border-color: #ced4da;
  font-family: Arial;
}
.man input:focus{
  background-color: white;
  border-style: solid;
  border-color: #32dbc6;
  outline: none;
}
.email{
  margin-bottom: 1.25rem;
}
.email input{
  color: #495057;
  border-radius: 25px;
  padding: 1rem;
  width: 33rem;
  font-size: 1.1rem;
  height: 3rem;
  font-family: Arial;
  border-style: solid;
  border-color: #ced4da;
}
.email input:focus{
  background-color: white;
  border-style: solid;
  border-color: #32dbc6;
  outline: none;
}
.bio textarea{
  color: #495057;
  border-radius: 25px;
  font-family: Arial;
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
  padding: 1rem;
  border-style: solid;
  border-color: #ced4da;
}
.bio textarea::placeholder{
  color: #495057;
  font-family: Arial;
  font-size: 1.25rem;
}
.bio textarea:focus{
  outline: none;
  background-color: white;
  border-style: solid;
  border-color: #32dbc6;
}
.submit input{
  background-color: #32dbc6;
  text-transform: uppercase;
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
  border-radius: 25px;
  border-style: none;
  /* width: 130px; */
  letter-spacing: 1px;
  padding: 1.2rem 1.5rem;
}
.submit input:active{
  background-color: #1da493;
  transition-duration: 0.2s;
}
.locate{
  background-color: white;
  max-height: fit-content;
  padding: 2rem;
  max-width: 22rem;
}
.street{
  margin-bottom: 1.5rem;
}
.address{
  margin-bottom: 0.5rem;
  font-weight: 700;
  color: #4D4D4D;
  font-family: Arial;
}
.fake{
  font-family: Arial;
  max-width: 22rem;
  line-height: 1.7rem;
  color: #4D4D4D;
}
.forms{
  padding-bottom: 5rem;
  background-color: #f8f9fa;
}
