.lap{
  background-image: url(../img/hero_1.jpg.webp);
  height: 100vh;
  background-size: 1240px;
  position: relative;
  z-index: 0;
}
.laptop{
  background-color: #00000033;
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  /* text-align: center; */
}
.build{
  /* background-color: red; */
  text-align: center;
}
.love{
  font-size: 50px;
  font-family: Arial;
  color: white;
  margin-bottom: 20px;
}
.free{
  font-size: 20px;
  color: white;
  font-family: Arial;
  margin-bottom: 40px;
}
.free a{
  cursor: pointer;
  color: #32dbc6;
}
.video span{
  font-size: 10px;
  text-transform: uppercase;
  font-family: Arial;
  border-radius: 50px;
  color: #212529;
  text-align: center;
  background-color: #32dbc6;
  padding: 15px 20px;
  width: 50px;
  letter-spacing: 1px;
  cursor: pointer;
}
.video span:hover{
  transition-duration: 0.2s;
  background-color: #2cc4b0;
  color: white;
  border-color: #21b9a6;
}

.innovation{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  padding: 60px 60px 60px 100px;
  margin-bottom: 150px;
}
.numbers{
  position: relative;
  /* background-color: red; */
  padding: 20px;
  width: 200px;
}
.number{
  position: absolute;
  top: -15px;
  left: -20px;
  font-family: Arial;
  font-weight: 700;
  font-size: 100px;
  z-index: -1;
  color: rgba(211, 211, 211, 0.4);
}
.innovate{
  color: #21b9a6;
  font-family: Arial;
  font-size: 32px;
  margin-bottom: 14px;
}
.lorem{
  margin-bottom: 20px;
  font-family: Arial;
  font-size: 16px;
  color: #4d4d4d;
  width: 300px;
  line-height: 30px;
}
.checked i{
  color: #21b9a6;
  font-size: 16px;
  margin-right: 5px;
}
.checked{
  margin-bottom: 15px;
  color: #4d4d4d;
  font-family: Arial;
}

.work{
  padding: 10px;
}
.our{
  width: 100%;
  text-align: center;
  font-size: 48px;
  font-family: Arial;
  margin-bottom: 20px;
}
.car{
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lores{
  font-family: Arial;
  font-size: 16px;
  color: #4d4d4d;
  line-height: 30px;
  width: 600px;
}
.over{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
}
.pic{
  position: relative;
  overflow: hidden;
  margin: auto;
}
.pic img{
  margin-bottom: 15px;
  height: 370px;
  width: 370px;
  cursor: pointer;
}
.tree{
  background-color: rgba(0, 0, 0, 0.7);
  width: 370px;
  height: 370px;
  text-align: center;
  cursor: pointer;
  position: absolute;
}
.trees{
  position: absolute;
  top: 155px;
  width: 370px;
  text-align: center;
}
.cat{
  font-size: 1.5rem;
  color: white;
  font-family: Arial;
}
.web{
  font-family: Arial;
  letter-spacing: 3px;
  color: #999999;
  text-transform: uppercase;
  font-size: 14px;
}
.pic:hover .tree{
  top: 370px;
  transition-duration: 0.4s;
  translate: 0px -370px;
}
