@media screen and (max-width: 1024px) {
  .paint{
    flex-wrap: wrap;
  }
  .dash{
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .hidden-menu{
    display: block;
  }
  .option{
    display: none;
  }
  .white{
    justify-content: center;
    padding: 0;
  }
  .email input{
    width: 300px;
  }
  .bio textarea{
    width: 300px;
  }
}
@media screen and (max-width: 480px) {
  .pic img{
    height: 220px;
    width: 220px;
  }
  .black{
    padding: 0;
  }
  .paint{
    padding: 0;
  }
  .paint img{
    height: 300px;
    width: 300px;
  }
  .wrote{
    margin-right: 0;
  }
  .need img{
    height: 250px;
    width: 250px;
  }
  .men{
    padding: 20px 0px;
    margin-right: 0;
  }
  .man{
    margin-right: 0;
  }
  .final{
    margin-right: 0;
  }
}
@media screen and (max-width: 1024px) {

}
